@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
  }


// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.toolbar-overrides((
    container-background-color: #3f51b5,
    container-text-color: white,
  ));
}